/* REMEDY */
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    /* Cores Primárias */
    --color-primary: #1a73e8;           /* Azul Vibrante */
    --color-primary-light: #4fc3f7;    /* Azul Claro */
    --color-primary-dark: #004ba0;     /* Azul Escuro */

    /* Cores Secundárias */
    --color-secondary: #fbbc05;        /* Amarelo Solar */
    --color-secondary-light: #ffdd57; /* Amarelo Claro */
    --color-secondary-dark: #c79100;  /* Amarelo Escuro */

    /* Cores de Acento */
    --color-accent: #ea4335;           /* Vermelho Quente */
    --color-accent-light: #ff867c;    /* Vermelho Suave */
    --color-accent-dark: #c62828;     /* Vermelho Intenso */

    /* Cores Terciárias */
    --color-tertiary: #34a853;         /* Verde Vibrante */
    --color-tertiary-light: #81c784;  /* Verde Claro */
    --color-tertiary-dark: #2e7d32;   /* Verde Escuro */

    /* Cores Neutras */
    --color-neutral-lightest: #f8f9fa; /* Branco Suave */
    --color-neutral-light: #e0e0e0;    /* Cinza Claro */
    --color-neutral: #9e9e9e;          /* Cinza Médio */
    --color-neutral-dark: #424242;     /* Cinza Escuro */
    --color-neutral-darkest: #212121;  /* Preto Suave */

    /* Feedback */
    --color-success: #28a745;         /* Verde Sucesso */
    --color-success-light: #a3e635;  /* Verde Claro Sucesso */
    --color-success-dark: #1c7c31;   /* Verde Escuro Sucesso */

    --color-warning: #ff9800;        /* Laranja Alerta */
    --color-warning-light: #ffc947; /* Laranja Claro */
    --color-warning-dark: #c66900;  /* Laranja Intenso */

    --color-error: #d32f2f;          /* Vermelho Erro */
    --color-error-light: #ef5350;   /* Vermelho Claro */
    --color-error-dark: #b71c1c;    /* Vermelho Intenso */

    /* Gradientes para Background */
    --gradient-primary: linear-gradient(45deg, #1a73e8, #4fc3f7);
    --gradient-accent: linear-gradient(45deg, #ea4335, #ff867c);
    --gradient-neutral: linear-gradient(45deg, #e0e0e0, #424242);
    --gradient-btn-simples: linear-gradient(180deg, #f6f6f6, #e1e1e1);

    /* no-gradient */
    --no-gradiente-btn-simples: linear-gradient(180deg, #e1e1e1, #e1e1e1);

    /* Transparências */
    --color-primary-transparent: rgba(26, 115, 232, 0.1); /* Azul translúcido */
    --color-accent-transparent: rgba(234, 67, 53, 0.1);  /* Vermelho translúcido */
    --color-neutral-transparent: rgba(158, 158, 158, 0.2); /* Cinza translúcido */
}

/* Box-sizing: Todos os elementos utilizam o modelo de caixa border-box */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

/* Remove espaçamento padrão da tag body */
body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    font-family: "Funnel Sans", sans-serif;
    color: var(--color-neutral-dark);
    background-color: var(--color-neutral-lightest);
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    contain: content;
    background-color: var(--color-primary-dark);
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    width: 100%;
    height: 100%;
    border: 0.01em solid var(--color-neutral);
    overflow: auto;
}

/* Links sem estilos padrão */
a {
    text-decoration: none;
    color: inherit;
}


/* Remover espaçamento padrão de listas */
ul, ol {
    list-style: none;
    padding: 0;
}

/* Garantir que o campo de número não tenha setas desnecessárias no Chrome */
/* input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
} */

/* HEADER */

header {
    background: var(--color-primary-dark);
}

.header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white; */
    padding: 5px 20px;
}

.header-left {
    /* border: 1px solid white; */
    flex: 0;
    border-top: 0.01em solid var(--color-neutral-light);
    border-bottom: 0.01em solid var(--color-neutral-light);
    text-align: center;
}

.header-left a {
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--color-neutral-light);
}

.header-left a:hover {
    color: var(--color-neutral-lightest);
    font-weight: 900;
}

.header-left a:active {
    color: var(--color-neutral);
}

.header-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
    /* border: 1px solid white; */
    flex: 1;
    color: var(--color-neutral-light);
    margin-right: 10px;
}

.header-right h1 {
    text-align: end;
    color: var(--color-neutral-light);
    font-family: "Host Grotesk", sans-serif;
    /* border: 1px solid white; */
    width: fit-content;
}

.header-right h1:hover {
    font-weight: 900;
    cursor: pointer;
    color: var(--color-neutral-lightest);
}

.navbar-container {
    background-color: var(--color-primary-dark);
    margin-top: 4px;
}

.navbar-container nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-container nav ul {
    margin-bottom: 0 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar-container nav ul li .drop-toggler {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 10px;
    color: var(--color-neutral-light);
    border-right: 0.01em solid var(--color-neutral-light);
}

.navbar-container nav ul li .drop-toggler.nav-item-active {
    background-color: var(--color-primary);
    color: var(--color-neutral-light);
    font-weight: 900;
}

.navbar-container nav ul li:last-child .drop-toggler {
    border-right: none;
}

.navbar-container nav ul li .drop-toggler:hover {
    background-color: var(--color-primary);
    font-weight: 900;
}

.navbar-container nav .user-info {
    display: flex;
    gap: 10px;
}

.navbar-container nav .user-info {
    color: var(--color-neutral-light);
    border-left: 0.01em solid var(--color-neutral-light);
    padding: 10px;
}

.navbar-container nav .user-info .btn-logout:hover {
    color: var(--color-neutral-lightest);
    font-weight: 900;
}

.drop-menu {
    display: none;
    position: absolute;
    z-index: 1;
    width: auto;
    border: 0.01em solid var(--color-neutral-light);
}

.drop-menu a {
    display: block;
    background-color: var(--color-neutral-light);
    color: var(--color-neutral-dark);
    white-space: nowrap;
    cursor: pointer;
    padding: 5px;
    border: 0.01em solid var(--color-neutral-dark);
}

.drop-menu a:last-of-type {
    border-top: none;
}

.drop-menu a:hover {
    background-color: var(--color-primary);
    color: var(--color-neutral-light);
    font-weight: 900;
}

.drop-menu.show {
    display: block;
}


/* ########## SIDEBAR ########## */

.sidebar-container {
    display: block;
    height: 100%;
    background: var(--color-primary-dark);
    /* border: 1px solid white; */
    border-top: 0.01em solid var(--color-neutral-light);
    border-bottom: 0.01em solid var(--color-neutral-light);
}

.sidebar-container nav {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-container nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sidebar-container nav ul li {
    width: 100%;
}

.sidebar-container nav ul li .side-drop-toggler {
    display: block;
    width: 100%;
    padding: 5px;
    background-color: var(--color-primary-dark);
    color: var(--color-neutral-light);
    border: 0.01em solid var(--color-neutral-light);
    cursor: pointer;
}

.sidebar-container nav ul li .side-drop-toggler:hover {
    background-color: var(--color-primary-light);
    color: var(--color-primary-dark);
    font-weight: 900;
}

.sidebar-container nav ul li .side-drop-toggler.nav-item-active {
    background-color: var(--color-primary-light) !important;
    color: var(--color-primary-dark) !important;
    font-weight: 900;
}

.sidebar-container nav ul li:last-child .side-drop-toggler.nav-item-active {
    border-radius: 0 0 0 0 !important;
}

.sidebar-container .user-info {
    display: flex;
    flex-direction: column;
    align-items: end;
    /* border: 1px solid white; */
    color: var(--color-neutral-light);
    width: fit-content;
    border-top: 0.01em solid var(--color-neutral-light);
}

.sidebar-container .user-info small {
    text-align: end;
}

.sidebar-container .user-info .btn-logout {
    width: fit-content;
}

.sidebar-container .btn-logout:hover {
    color: var(--color-neutral-lightest);
    font-weight: 900;
}

.sidebar-container .btn-logout:active {
    color: var(--color-neutral);
}

.side-drop-menu {
    display: none;
}

.side-drop-menu a {
    display: block;
    background-color: var(--color-neutral-light);
    color: var(--color-neutral-dark);
    cursor: pointer;
    padding: 5px;
    border: 0.01em solid var(--color-neutral-dark);
    border-top: none;
}

.side-drop-menu a:first-of-type {
    border: 0.01em solid var(--color-neutral-dark);
}

.side-drop-menu a:hover {
    background-color: var(--color-neutral);
    color: var(--color-neutral-dark);
    font-weight: 900;
}

.side-drop-menu.show {
    display: block;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--color-primary-dark);
    padding: 10px;
}

footer p {
    margin: auto;
    padding: 10px;
    /* border-top: 1px solid #212121; */
    color: var(--color-neutral-light);
}

.topo {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    right: 15px;
    background-color: var(--color-primary-dark);
    color: var(--color-neutral-light);
    border-radius: 50% 50%;
    padding: 5px;
}

.topo i {
    font-weight: 900;
}



/* ########## BOTÕES ########## */

/* Botões com aparência consistente */
button {
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    width: fit-content !important;
}

.btn {
    border: 1px solid rgb(0, 0, 0, 0.4);
    background: var(--gradient-btn-simples);
    border-radius: 2px;
    text-wrap: nowrap;
    padding: 3px;
    margin: 3px;
    font-weight: lighter;
}

.btn:hover {
    border: 1px solid rgb(0, 0, 0, 0.6);
    background: var(--no-gradiente-btn-simples);
}


/* ########## H1 MAIN CONTENT ########## */

.main-content h1:first-of-type {
    border-left: 1px solid rgba(0,0,0, 0.1);
    border-top: 10px solid rgba(0,0,0, 0.4);
    border-right: 1px solid rgba(0,0,0, 0.1);
    border-bottom: 1px solid rgba(0,0,0, 0.1);

    border-radius: 10px 10px 0 0;
    margin: 0;
    padding: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 0 4px rgb(0, 0, 0, 0.4);
    background-color: var(--color-neutral-lightest);
}

.main-content form {
    border-left: 1px solid rgba(0,0,0, 0.1);
    border-right: 1px solid rgba(0,0,0, 0.1);
    border-bottom: 1px solid rgba(0,0,0, 0.1);

    border-radius: 0 0 3px 3px;
    padding: 10px;

    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.4);
    background-color: var(--color-neutral-lightest);
}

.main-content .table {
    border: 1px solid rgba(0,0,0, 0.1);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--color-neutral-lightest);
}

.main-content table {
    border: 1px solid rgba(0,0,0, 0.1);
    border-radius: 5px;
    background-color: var(--color-neutral-lightest);
}

.main-content div {
    background-color: var(--color-neutral-lightest);
}

/* ########## VENDAS ########## */

.div-btn-vendas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.form-quantidade {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: none !important;
    border: none !important;
}

.form-quantidade input {
    width: fit-content;
}

.div-cliente-venda {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary) !important    ;
}

.div-titulo-venda {
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: var(--color-accent) !important    ;
}

/* ########## FORM PADRÃO ########## */


/* Garantir que os formulários sejam consistentes */
input,
textarea,
select {
    font: inherit;
    margin: 5px;
    padding: 0.05rem;
    width: 100%
}

/* Ajustar áreas de texto */
textarea {
    resize: vertical;
}

input[type="checkbox"] {
    margin: 0;
    width: fit-content;
}

.form-padrao {
    width: 100%;
    margin: 0 auto;
}

.form-padrao div ul li small, .form-padrao div small {
    color: rgb(0, 0, 0, 0.6);
    font-size: xx-small;
}

.form-padrao div ul {
    margin: 0;
    padding: 0 !important;
    list-style: none;
}

.form-padrao div ul li {
    width: fit-content;
    padding: 0 !important;
    margin: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"] {
    padding: 0.5rem;
    box-sizing: border-box;
}

.col-1 { flex: 0 0 8.33%; max-width: 8.33%; }
.col-2 { flex: 0 0 16.66%; max-width: 16.66%; }
.col-3 { flex: 0 0 25%; max-width: 25%; }
.col-4 { flex: 0 0 33.33%; max-width: 33.33%; }
.col-5 { flex: 0 0 41.66%; max-width: 41.66%; }
.col-6 { flex: 0 0 50%; max-width: 50%; }
.col-7 { flex: 0 0 58.33%; max-width: 58.33%; }
.col-8 { flex: 0 0 66.66%; max-width: 66.66%; }
.col-9 { flex: 0 0 75%; max-width: 75%; }
.col-10 { flex: 0 0 83.33%; max-width: 83.33%; }
.col-11 { flex: 0 0 91.66%; max-width: 91.66%; }
.col-12 { flex: 0 0 100%; max-width: 100%; }


/* ########## IMAGENS ########## */

img,
picture {
    max-width: 100%;
    display: block;
}

.div-img {
    max-width: 150px;
    max-height: 150px;

    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.4);
}

.img_produto {
    max-width: 10rem;
    max-height: 10rem;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.4);
    border: 0.01em solid rgb(0, 0, 0, 0.4);
}

/* ########## HOME ########## */
.div-home {
    /* border: 1px solid rgb(0, 0, 0, 0.4); */
    /* border-top: none; */
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.4);
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.div-home h3 {
    text-align: center;
    background-color: var(--color-primary-light);
}

.div-home .card-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
}

.div-home .card-home a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
    padding: 15px;
    border: 1px solid rgb(0, 0, 0, 0.4);
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    color: var(--color-neutral-lightest);
    font-size: larger;
}

.div-home .card-home a:hover {
    border: 3px solid rgb(0, 0, 0, 0.4);
    font-weight: 900;
}

.div-home .card-home a:active {
    border: 1px solid rgb(0, 0, 0, 0.2);
}


/* ########## TABELAS ########## */

table {
    border-collapse: collapse;
    width: 100%;
}

table thead tr {
    background-color: var(--color-primary-dark);
    color: var(--color-neutral-light);
}

table tfoot tr {
    background-color: var(--color-primary-transparent);
}

table tbody tr .cell {
    white-space: nowrap;
}

table tbody tr td .btn-acao {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0, 0.2);
}

table tbody tr td .btn-acao:hover {
    border: 3px solid rgb(0, 0, 0, 0.4);
    font-weight: 900;
}

.table {
    padding: 15px;
}



/* ########## BACKGROUND COLORS ########## */

.bg-success {
    background-color: var(--color-success);
}

.bg-error {
    background-color: var(--color-error);
}

.bg-warning {
    background-color: var(--color-warning);
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-success-dark {
    background-color: var(--color-success-dark);
}

.bg-error-dark {
    background-color: var(--color-error-dark);
}

.bg-warning-dark {
    background-color: var(--color-warning-dark);
}

.bg-primary-dark {
    background-color: var(--color-primary-dark);
}

.bg-neutral {
    background-color: var(--color-neutral) !important;
}

.bg-light {
    background-color: var(--color-light) !important;
}

/* ########## TEXTS COLORS ########## */

.text-light {
    color: var(--color-neutral-light);
}

.text-dark {
    color: var(--color-neutral-dark);
}

.text-error {
    color: var(--color-error);
}

/* ########## DIVERSOS ########## */

.div-btn-end {
    display: flex;
    justify-content: end;
}

/* ########## MARGENS PADRÕES ########## */
.m-0 {
    margin: 0;
}

.mx-0 {
    margin-left: 0;
    margin-right: 0;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.m-1 {
    margin: 10px;
}
.m-2 {
    margin: 20px;
}
.m-3 {
    margin: 30px;
}
.m-4 {
    margin: 40px;
}
.m-5 {
    margin: 50px;
}

.mx-1 {
    margin: 0 10px;
}
.mx-2 {
    margin: 0 20px;
}
.mx-3 {
    margin: 0 30px;
}
.mx-4 {
    margin: 0 40px;
}
.mx-5 {
    margin: 0 50px;
}

.my-1 {
    margin: 10px 0;
}
.my-2 {
    margin: 20px 0;
}
.my-3 {
    margin: 30px 0;
}
.my-4 {
    margin: 40px 0;
}
.my-5 {
    margin: 50px 0;
}

/* ########## PADDING GERAL ########## */
.p-0 {
    padding: 0;
}

.p-1 {
    padding: 10px;
}
.p-2 {
    padding: 20px;
}
.p-3 {
    padding: 30px;
}
.p-4 {
    padding: 40px;
}
.p-5 {
    padding: 50px;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.px-1 {
    padding: 0 10px;
}
.px-2 {
    padding: 0 20px;
}
.px-3 {
    padding: 0 30px;
}
.px-4 {
    padding: 0 40px;
}
.px-5 {
    padding: 0 50px;
}

.py-1 {
    padding: 10px 0;
}
.py-2 {
    padding: 20px 0;
}
.py-3 {
    padding: 30px 0;
}
.py-4 {
    padding: 40px 0;
}
.py-5 {
    padding: 50px 0;
}

/* ########## TABELA DE VENDA ########## */

.table-venda {
    border: 1px solid rgb(0, 0, 0, 0.2);
    background-color: var(--color-neutral) !important;
    padding: 0 5px;
}

.total-venda {
    background-color: var(--color-primary) !important;
    padding: 10px;
}

.total-venda h2, .total-venda h5 {
    color: var(--color-neutral-light) !important;
}

.total-venda h5 {
    background-color: var(--color-secondary-dark);
}

.total-venda h2 {
    background-color: var(--color-success-dark);
}

/* ########## TABELA CLIENTES ########## */
.table-clientes {
    margin: 10px auto;
    max-width: 75%;
    padding: 10px;
}

.table-clientes h3 {
    color: var(--color-neutral-lightest);
}

.table-clientes table {
    margin: 0 !important;
    padding: 0 !important;
}

/* ########## Tabela de Produtos Venda ########## */

.table-produtos {
    margin: 10px auto;
    max-width: 75%;
    padding: 10px;
    background-color: var(--color-neutral) !important;
}

.table-produtos h3 {
    color: var(--color-neutral-lightest);
}

.table-produtos tr {
    padding: 0 !important;
}

.div-venda {
}

/* ########## Alinhamento de texto ########## */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.text-italic {
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}


/* ########## PESQUISA DE CLIENTE E PRODUTOS ########## */
/* div.dtb-collection-closeable {
    width: 100%;
    max-width: 600px;
} */

/* ########## BREAKPOINTS ########## */

@media (min-width: 576px) {
    .sidebar-container {
        display: none !important;
    }

    .header-container .header-left {
        display: none !important;
    }
}

@media (max-width: 576px) {
    .navbar-container {
        display: none !important;
    }
}

@media (max-width: 576px) {

    [class*="col-"] {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
