<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ARUS T.I.{% endblock %}</title>

    {% comment %} STYLES {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

    {% comment %} SCRIPTS {% endcomment %}
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
</head>