<div class="navbar-container bg-neutral">
    <nav>
        <ul class=" text-dark">
            <li>
                <a class="drop-toggler" href="{% url "home:home" %}">Início</a>
            </li>
            <li>
                <a class="drop-toggler" data-target="clientes">Clientes</a>
                <div id="clientes" class="drop-menu">
                    <a href="{% url "clientes:clientes" %}">Gestão de Clientes</a>
                </div>
            </li>
            <li>
                <a class="drop-toggler" data-target="produtos">Produtos</a>
                <div id="produtos" class="drop-menu">
                    <a href="{% url "produtos:produtos" %}">Gestão de Produtos</a>
                </div>
            </li>
            <li>
                <a class="drop-toggler" data-target="vendas">Gestão de Vendas</a>
                <div id="vendas" class="drop-menu">
                    <a href="{% url "vendas:vendas" %}">Vendas</a>
                    <a href="{% url "vendas:pdv" %}">Ponto de Venda</a>
                </div>
            </li>
            <li>
                <a class="drop-toggler" data-target="dados-loja">Configurações da Loja</a>
                <div id="dados-loja" class="drop-menu">
                    <a href="{% url "home:dados_loja" %}">Dados da Loja</a>
                    <a href="{% url "home:users" %}">Gestão de Usuários</a>
                </div>
            </li>
        </ul>
        <div class="user-info">
            <span>Bem-vindo, Usuário</span>
            <a href="#" class="btn-logout">Sair</a>
        </div>
    </nav>
</div>