<div class="sidebar-container">
    <nav>
        <ul>
            <li>
                <a class="side-drop-toggler" href="{% url 'home:home' %}">Início</a>
            </li>
            <li>
                <a class="side-drop-toggler" data-target="side-clientes">Clientes</a>
                <div id="side-clientes" class="side-drop-menu">
                    <a href="{% url "clientes:clientes" %}">Gestão de Clientes</a>
                </div>
            </li>
            <li>
                <a class="side-drop-toggler" data-target="side-produtos">Produtos</a>
                <div id="side-produtos" class="side-drop-menu">
                    <a href="{% url "produtos:produtos" %}">Gestão de Produtos</a>
                </div>
            </li>
            <li>
                <a class="side-drop-toggler" data-target="side-vendas">Gestão de Vendas</a>
                <div id="side-vendas" class="side-drop-menu">
                    <a href="{% url "vendas:vendas" %}">Vendas</a>
                    <a href="{% url "vendas:pdv" %}">Ponto de Venda</a>
                </div>
            </li>
            <li>
                <a class="side-drop-toggler" data-target="side-dados-loja">Configurações da Loja</a>
                <div id="side-dados-loja" class="side-drop-menu">
                    <a href="{% url "home:dados_loja" %}">Dados da Loja</a>
                    <a href="{% url "home:users" %}">Gestão de Usuários</a>
                </div>
            </li>
        </ul>
        <div class="user-info">
            <small>Bem-vindo, Usuário</small>
            <a href="#" class="btn-logout">Sair</a>
        </div>
    </nav>
</div>