<div class="sidebar-container d-sm-none d-block">
    <nav>
        <ul>
            <li>
                <a class="side-drop-toggler" href="{% url 'home:home' %}">Início</a>
            </li>
            <li>
                <a class="side-drop-toggler" data-target="side-produtos">Produtos</a>
                <div id="side-produtos" class="side-drop-menu">
                    <a href="#">Cadastro de Produtos</a>
                </div>
            </li>
            <li>
                <a class="side-drop-toggler" data-target="side-dados-loja">Configurações da Loja</a>
                <div id="side-dados-loja" class="side-drop-menu">
                    <a href="{% url "home:dados_loja" %}">Dados da Loja</a>
                    <a href="{% url "home:users" %}">Usuários</a>
                </div>
            </li>
        </ul>
        <div class="user-info">
            <small>Bem-vindo, Usuário</small>
            <a href="#" class="btn-logout">Sair</a>
        </div>
    </nav>
</div>