{% extends "base/base.html" %}
{% block content %}

<div class="main-content">
    <h1>{% if is_edit %}Atualizar dados do cliente {% if tipo_cliente == '1' %}{{cliente.nome}} - Pessoa Física{% else %}{{cliente.nome_fantasia}} - Pessoa Jurídica{% endif %}{% else %}Gestão de Clientes{% endif %}</h1>

    <form class="form-padrao row" method="POST">
        {% if is_edit %}
        <div class="div-btn-end">
            <a class="btn" href="{% url "clientes:clientes" %}">Voltar</a>
        </div>
        {% endif %}
        {% csrf_token %}
        {{form.as_div}}
        <div>
            <button name="btn-form" class="btn">Salvar</button>
        </div>
    </form>

    <div class="table">
        <h3>Clientes</h3>
        <table id="dataTable" class="display striped compact hover cell-border row-border">
            <thead>
                <tr>
                    <td>AÇÕES</td>
                    <td>CÓDIGO</td>
                    <td>NOME</td>
                    <td>RAZÃO SOCIAL</td>
                    <td>RG</td>
                    <td>CPF</td>
                    <td>CNPJ</td>
                    <td>NASCIMENTO</td>
                    <td>INSCRIÇÃO MUNICIPAL</td>
                    <td>INSCRIÇÃO ESTADUAL</td>
                    <td>FONE</td>
                    <td>EMAIL</td>
                    <td>ENDEREÇO</td>
                    <td>Nº</td>
                    <td>BAIRRO</td>
                    <td>CEP</td>
                    <td>CIDADE</td>
                    <td>ESTADO</td>
                </tr>
            </thead>
            <tbody>
                {% for item in objs %}
                <tr>
                    <td class="cell">
                        <a role="button" id="cliente-editar" class="btn-acao text-light bg-primary-dark" data-cliente-nome="{{item.nome}}" data-cliente-id="{{item.id}}">Editar</a>
                        <a role="button" id="cliente-excluir" class="btn-acao text-light bg-error-dark" data-cliente-nome="{{item.nome}}" data-cliente-id="{{item.id}}">Excluir</a>
                    </td>
                    <td>{{item.codigo}}</td>
                    <td>{{item.nome}}</td>
                    <td>{{item.razao_social|default_if_none:"---"}}</td>
                    <td>{{item.rg|default_if_none:"---"}}</td>
                    <td>{{item.cpf|default_if_none:"---"}}</td>
                    <td>{{item.cnpj|default_if_none:"---"}}</td>
                    <td>{{item.nascimento|default_if_none:"---"}}</td>
                    <td>{{item.inscricao_municipal|default_if_none:"---"}}</td>
                    <td>{{item.inscricao_estadual|default_if_none:"---"}}</td>
                    <td>{{item.fone|default_if_none:"---"}}</td>
                    <td>{{item.email|default_if_none:"---"}}</td>
                    <td>{{item.endereco|default_if_none:"---"}}</td>
                    <td>{{item.numero|default_if_none:"---"}}</td>
                    <td>{{item.bairro|default_if_none:"---"}}</td>
                    <td>{{item.cep|default_if_none:"---"}}</td>
                    <td>{{item.cidade|default_if_none:"---"}}</td>
                    <td>{{item.estado|default_if_none:"---"}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    let formClientes = document.addEventListener('DOMContentLoaded', () => {
        function addClasseElementoPai(elemento, classe) {
            if (elemento && classe) {
                elemento.parentNode.classList.add(classe);
            }
        };

        const formCodigo = document.querySelector('#id_codigo');
        const formNome = document.querySelector('#id_nome');
        const formRazaoSocial = document.querySelector('#id_razao_social');
        const formRg = document.querySelector('#id_rg');
        const formCpf = document.querySelector('#id_cpf');
        const formCnpj = document.querySelector('#id_cnpj');
        const formIE = document.querySelector('#id_inscricao_estadual');
        const formIM = document.querySelector('#id_inscricao_municipal');
        const formNascimento = document.querySelector('#id_nascimento');
        const formFone = document.querySelector('#id_fone');
        const formEmail = document.querySelector('#id_email');
        const formEndereco = document.querySelector('#id_endereco');
        const formNumero = document.querySelector('#id_numero');
        const formBairro = document.querySelector('#id_bairro');
        const formCep = document.querySelector('#id_cep');
        const formCidade = document.querySelector('#id_cidade');
        const formEstado = document.querySelector('#id_estado');

        addClasseElementoPai(formCodigo, 'col-2');
        addClasseElementoPai(formNome, 'col-4');
        addClasseElementoPai(formRazaoSocial, 'col-4');
        addClasseElementoPai(formRg, 'col-2');
        addClasseElementoPai(formCpf, 'col-3');
        addClasseElementoPai(formCnpj, 'col-3');
        addClasseElementoPai(formCodigo, 'col-2');
        addClasseElementoPai(formIE, 'col-3');
        addClasseElementoPai(formIM, 'col-2');
        addClasseElementoPai(formNascimento, 'col-2');
        addClasseElementoPai(formFone, 'col-2');
        addClasseElementoPai(formEmail, 'col-3');
        addClasseElementoPai(formEndereco, 'col-6');
        addClasseElementoPai(formNumero, 'col-2');
        addClasseElementoPai(formBairro, 'col-3');
        addClasseElementoPai(formCidade, 'col-3');
        addClasseElementoPai(formEstado, 'col-2');
        addClasseElementoPai(formCep, 'col-2');

        document.getElementById('id_nascimento').setAttribute('type', 'date');

    });

    let = clienteId = null;
    let = clienteNome = null;
    const html = document.body;
    const divQuestion = document.querySelector('.confirm-question');
    const btnEditar = document.querySelectorAll('#cliente-editar');
    const btnExcluir = document.querySelectorAll('#cliente-excluir');

    btnEditar.forEach((btn) => {
        btn.addEventListener('click', (e) => {
            e.preventDefault();
            clienteId = btn.getAttribute('data-cliente-id');
            clienteNome = btn.getAttribute('data-cliente-nome');

            if (!html.classList.contains('backdrop')) {
                html.classList.add('backdrop');
            } else {
                html.classList.remove('backdrop');
            }
            divQuestion.style.display = "flex";
            divQuestion.querySelector('#modal-title').textContent = `Deseja editar o cliente ${clienteNome}?`;
            confirmAction('editar');
            cancelAction();
        });
    });

    btnExcluir.forEach((btn) => {
        btn.addEventListener('click', (e) => {
            e.preventDefault();
            clienteId = btn.getAttribute('data-cliente-id');
            clienteNome = btn.getAttribute('data-cliente-nome');

            if (!html.classList.contains('backdrop')) {
                html.classList.add('backdrop');
            } else {
                html.classList.remove('backdrop');
            }
            divQuestion.style.display = "flex";
            divQuestion.querySelector('#modal-title').textContent = `Deseja excluir o cliente ${clienteNome}?`;
            confirmAction('excluir');
            cancelAction();
        });
    });

    function confirmAction (action) {
        document.getElementById('confirm').addEventListener('click', (e) => {
            if (html.classList.contains('backdrop')) {
                html.classList.remove('backdrop');
            }
            if (divQuestion.style.display === "flex") {
                divQuestion.style.display = "none";
            }
            if (action === 'editar') {
                window.location.href = `/clientes/edit_cliente/${clienteId}/`;
            } else if (action === 'excluir') {
                window.location.href = `/clientes/delete_cliente/${clienteId}/`;
            }
        });
    };

    function cancelAction () {
        document.getElementById('cancel').addEventListener('click', (e) => {
            e.preventDefault();
            if (html.classList.contains('backdrop')) {
                html.classList.remove('backdrop');
            }
            if (divQuestion.style.display === "flex") {
                divQuestion.style.display = "none";
            }

            clienteId = null;
            clienteNome = null;
        });
    };
</script>
{% endblock content %}