{% extends "base/base.html" %}
{% block content %}
    <div class="main-content">
        <h1>Ponto de Venda</h1>        
        <!-- Venda -->
        <div class="table div-venda">
            <div class="my-1 div-titulo-venda">
                <h2 class="p-1 my-0 text-light">Venda Nº: {{venda.id}} - Status: {% if venda.finalizada == False %}Em aberto{% else %}Finalizada{% endif %}</h2>
            </div>

            <div class="div-cliente-venda">
                {% if venda.cliente %}
                <button id="btn-clientes" class="btn">Alterar Cliente</button>
                <h2 class="p-1 my-0 text-light">Cliente: {{venda.cliente}}</h2>
                {% else %}
                <button id="btn-clientes" class="btn">Adicionar Cliente</button>
                {% endif %}
            </div>            

            <div class="table-venda row">
                <div class="col-9">
                    <div class="div-table-header">
                        <form class="form-codigo-produto" action="{% url 'vendas:adicionar' 0 %}" method="GET">
                            {% csrf_token %}
                            <input autofocus type="text" id="codigo-produto" name="codigo-produto" placeholder="Digite o código do produto">
                        </form>
                        <button id="pesquisar-produtos" class="btn">Pesquisar produtos</button>
                    </div>
                    <table id="dataTableVenda">
                        <h3>Itens da Venda</h3>
                        
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Quantidade</th>
                                <th>Preço</th>
                                <th>Subtotal</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in venda.itens.all %}
                            <tr>
                                <td>{{ item.produto.nome }}</td>
                                <td>{{ item.quantidade }}</td>
                                <td>{{ item.produto.preco }}</td>
                                <td>{{ item.subtotal}}</td>
                                <td><a class="btn" href="{% url "vendas:remover" item.id %}">Remover</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="total-venda col-3">
                    <h5>Desconto: 
                        <form class="form-desconto" method="POST" action="{% url 'vendas:aplicar_desconto' %}">
                            {% csrf_token %}
                            <input class="" type="number" id="desconto" name="desconto" step="0.01" value="0"></input>
                            <button class="btn text-dark">Aplicar Desconto</button>
                        </form>
                    </h5>
                    <h5>Método de pagamento: 
                        <form class="form-pgto" method="GET">
                            {% csrf_token %}
                            <select id="pgto" name="pgto" onchange="this.form.submit()">
                                {% for option in form.metodo_pagamento %}
                                {{option}}
                                {% endfor %}
                            </select>
                        </form>
                    </h5>
                    <h2>Total: {{venda.total}}</h2>
                    {% if venda.itens.all %}
                    <a class="btn" href="{% url 'vendas:finalizar' %}">Finalizar Venda</a>
                    {% endif %}
                </div>
            </div>            
        </div>
    </div>

    <script>
        let btnProdutos = document.getElementById('pesquisar-produtos');
        let btnClientes = document.getElementById('btn-clientes');

        btnProdutos.addEventListener('click', () => {
            const tableProdutos = document.getElementById('table-produtos');
            if (!document.body.classList.contains('backdrop')) {
                document.body.classList.add('backdrop');
                tableProdutos.style.display = 'flex';
            } else {
                document.body.classList.remove('backdrop');
                tableProdutos.style.display = 'none';
            }
        });

        btnClientes.addEventListener('click', () => {
            const tableClientes = document.getElementById('table-clientes');
            if (!document.body.classList.contains('backdrop')) {
                document.body.classList.add('backdrop');
                tableClientes.style.display = 'flex';
            } else {
                document.body.classList.remove('backdrop');
                tableClientes.style.display = 'none';
            }
        });
        

        function closeTableClientes () {
            document.body.classList.remove('backdrop');
            const tableClientes = document.getElementById('table-clientes');
            tableClientes.style.display = 'none';
        }

        function closeTableProdutos() {
            document.body.classList.remove('backdrop');
            const tableProdutos = document.getElementById('table-produtos');
            tableProdutos.style.display = 'none';
        }
        

        document.addEventListener('DOMContentLoaded', () => {
            let descontoTotal = document.getElementById('desconto');
            let valor = '{{venda.desconto_total}}';
            descontoTotal.value = valor.replace(',', '.');

            
        });

    </script>
{% endblock content %}