{% extends "base/base.html" %}
{% block content %}
    <div class="main-content">
        <h1>Ponto de Venda</h1>
        
        <!-- Venda -->
        <div class="table div-venda">
            <div class="my-1 div-titulo-venda">
                <h2 class="p-1 my-0 text-light">Venda Nº: {{venda.id}} - Status: {% if venda.finalizada == False %}Em aberto{% else %}Finalizada{% endif %}</h2>
            </div>

            <div class="div-cliente-venda">
                {% if venda.cliente %}
                <button id="btn-clientes" class="btn">Alterar Cliente</button>
                <h2 class="p-1 my-0 text-light">Cliente: {{venda.cliente}}</h2>
                {% else %}
                <button id="btn-clientes" class="btn">Adicionar Cliente</button>
                {% endif %}
            </div>

            <div class="table-clientes bg-neutral" style="display: none;">
                <h3 class="p-1">Lista de Clientes</h3>
                <table id="dataTableClientes" class="display compact cell-border">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Ações</th>    
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                        <tr>
                            <td>{{cliente.codigo}}</td>
                            <td>{{cliente.nome}}</td>
                            <td>
                                {% if venda.cliente %}
                                <a class="btn" href="{% url "vendas:alterar_cliente" cliente.id %}">Alterar</a>
                                {% else %}
                                <a class="btn" href="{% url "vendas:adicionar_cliente" cliente.id %}">Adicionar</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

            <div class="table-venda row">
                <div class="col-9">
                    <table id="dataTableVenda">
                        <h3>Itens da Venda</h3>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Quantidade</th>
                                <th>Preço</th>
                                <th>Subtotal</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in venda.itens.all %}
                            <tr>
                                <td>{{ item.produto.nome }}</td>
                                <td>{{ item.quantidade }}</td>
                                <td>{{ item.produto.preco }}</td>
                                <td>{{ item.subtotal}}</td>
                                <td><a class="btn" href="{% url "vendas:remover" item.id %}">Remover</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="total-venda col-3">
                    <h5>Desconto: 
                        <form class="form-desconto" method="POST" action="{% url 'vendas:aplicar_desconto' %}">
                            {% csrf_token %}
                            <input class="" type="number" id="desconto" name="desconto" step="0.01" value="0"></input>
                            <button class="btn text-dark">Aplicar Desconto</button>
                        </form>
                    </h5>
                    <h2>Total: {{venda.total}}</h2>
                    {% if venda.itens.all %}
                    <a class="btn" href="{% url 'vendas:finalizar' %}">Finalizar Venda</a>
                    {% endif %}
                </div>
            </div>

            <!-- Adicionar produtos -->
            <div class="table-produtos">
                <h3>Adicionar Produtos</h3>
                <table id="dataTableProdutos" class="display compact cell-border">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Código</th>
                            <th>EAN</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for produto in produtos %}
                        <tr>
                            <td>{{ produto.nome }}</td>
                            <td>{{ produto.preco }}</td>
                            <td>
                                <form class="form-quantidade" method="POST" action="{% url 'vendas:adicionar' produto.id %}">
                                    {% csrf_token %}
                                    <input class="" type="number" id="quantidade" name="quantidade" min="1" value="1"></input>
                                    <div class=""><button class="btn">Adicionar</button></div>
                                </form>
                            </td>
                            <td>{{ produto.codigo }}</td>
                            <td>{{ produto.ean }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        let btnCliente = document.getElementById('btn-clientes').addEventListener('click', () => {
            const tableClientes = document.querySelector('.table-clientes');
            if (tableClientes.style.display === 'none') {
                tableClientes.style.display = 'block';
            } else {
                tableClientes.style.display = 'none';
            }
        });

        document.addEventListener('DOMContentLoaded', () => {
            let descontoTotal = document.getElementById('desconto');

            let valor = '{{venda.desconto_total}}';
            descontoTotal.value = valor.replace(',', '.');
        });

    </script>
{% endblock content %}