{% extends "base/base.html" %}
{% block content %}
<div class="main-content">
    <h1>Gestão de Produtos</h1>
    <form class="form-padrao row" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_div}}
        <div>
            <button class="btn" type="submit">Salvar</button>
        </div>
    </form>
    <div class="table">
        <table id="dataTable">
            <thead>
                <tr>
                    <th>AÇÕES</th>
                    <th>CÓDIGO</th>
                    <th>NOME</th>
                    <th>DESCRIÇÃO</th>
                    <th>CUSTO</th>
                    <th>PREÇO</th>
                    <th>ESTOQUE</th>
                    <th>EAN</th>
                    <th>NCM</th>
                    <th>CFOP</th>
                    <th>CSOSN</th>
                    <th>CST</th>
                    <th>ICMS %</th>
                    <th>IPI %</th>
                    <th>PIS %</th>
                    <th>COFINS %</th>
                </tr>
            </thead>
            <tbody>
                {% for item in objs %}
                <tr>
                    <td class="cell">
                        <a class="btn-acao bg-primary text-light" href="#">Editar</a>
                        <a class="btn-acao bg-error text-light" href="#">Excluir</a>
                    </td>
                    <td>{{item.codigo}}</td>
                    <td>{{item.nome}}</td>
                    <td>{{item.descricao}}</td>
                    <td>{{item.custo}}</td>
                    <td>{{item.preco}}</td>
                    <td>{{item.estoque}}</td>
                    <td>{{item.ean}}</td>
                    <td>{{item.ncm}}</td>
                    <td>{{item.cfop}}</td>
                    <td>{{item.csosn}}</td>
                    <td>{{item.cst}}</td>
                    <td>{{item.icms}}</td>
                    <td>{{item.ipi}}</td>
                    <td>{{item.pis}}</td>
                    <td>{{item.cofins}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<scripts>

    
</scripts>
{% endblock content %}