{% extends "base/base.html" %}
{% block content %}
<div class="main-content">
    <h1>Gestão de Produtos</h1>
    <form class="form-padrao row" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if action == 'edit_produto' %}
        {% if produto.imagem %}
        <a href="{{produto.imagem.url}}">
            <img class="img_produto" src="{{produto.imagem.url}}" alt="produto.nome">
        </a>
        {% else %}
        <p>Produto sem imagem</p>
        {% endif %}
        {% endif %}
        {{form.as_div}}
        <div>
            <button class="btn" type="submit">Salvar</button>
        </div>
    </form>
    <div class="table">
        <table id="dataTable" class="display compact striped cell-border">
            <thead>
                <tr>
                    <th>AÇÕES</th>
                    <th>CÓDIGO</th>
                    <th>NOME</th>
                    <th>DESCRIÇÃO</th>
                    <th>CUSTO</th>
                    <th>PREÇO</th>
                    <th>ESTOQUE</th>
                    <th>EAN</th>
                    <th>NCM</th>
                    <th>CFOP</th>
                    <th>CSOSN</th>
                    <th>CST</th>
                    <th>ICMS %</th>
                    <th>IPI %</th>
                    <th>PIS %</th>
                    <th>COFINS %</th>
                </tr>
            </thead>
            <tbody>
                {% for item in objs %}
                <tr>
                    <td class="cell">
                        <a id="editar-produto" role="button" class="btn-acao bg-primary text-light" data-produto-nome="{{item.nome}}" data-produto-id="{{item.id}}">Editar</a>
                        <a id="excluir-produto" role="button" class="btn-acao bg-error text-light" data-produto-nome="{{item.nome}}" data-produto-id="{{item.id}}">Excluir</a>
                    </td>
                    <td>{{item.codigo}}</td>
                    <td>{{item.nome}}</td>
                    <td>{{item.descricao}}</td>
                    <td>{{item.custo}}</td>
                    <td>{{item.preco}}</td>
                    <td>{{item.estoque}}</td>
                    <td>{{item.ean}}</td>
                    <td>{{item.ncm}}</td>
                    <td>{{item.cfop}}</td>
                    <td>{{item.csosn}}</td>
                    <td>{{item.cst}}</td>
                    <td>{{item.icms}}</td>
                    <td>{{item.ipi}}</td>
                    <td>{{item.pis}}</td>
                    <td>{{item.cofins}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    let formProduto = document.addEventListener('DOMContentLoaded', () => {
        function addClasseElementoPai (elemento, classe) {
            if (elemento && classe) {
            elemento.parentNode.classList.add(classe);
            }
        };

        const formCodigo = document.querySelector('#id_codigo');
        const formNome = document.querySelector('#id_nome');
        const formDescricao = document.querySelector('#id_descricao');
        const formCusto = document.querySelector('#id_custo');
        const formPreco = document.querySelector('#id_preco');
        const formEstoque = document.querySelector('#id_estoque');
        const formImagem = document.querySelector('#id_imagem');
        const formEan = document.querySelector('#id_ean');
        const formCfop = document.querySelector('#id_cfop');
        const formCst = document.querySelector('#id_cst');
        const formCsosn = document.querySelector('#id_csosn');
        const formUnidade = document.querySelector('#id_unidade');
        const formNcm = document.querySelector('#id_ncm');
        const formIcms = document.querySelector('#id_icms');
        const formIpi = document.querySelector('#id_ipi');
        const formPis = document.querySelector('#id_pis');
        const formCofins = document.querySelector('#id_cofins');

        addClasseElementoPai(formCodigo, 'col-2');
        addClasseElementoPai(formNome, 'col-6');
        addClasseElementoPai(formDescricao, 'col-6');
        addClasseElementoPai(formCusto, 'col-3');
        addClasseElementoPai(formPreco, 'col-3');
        addClasseElementoPai(formEstoque, 'col-2');
        addClasseElementoPai(formImagem, 'col-4');
        addClasseElementoPai(formEan, 'col-3');
        addClasseElementoPai(formCfop, 'col-6');
        addClasseElementoPai(formCst, 'col-4');
        addClasseElementoPai(formCsosn, 'col-4');
        addClasseElementoPai(formUnidade, 'col-2');
        addClasseElementoPai(formNcm, 'col-3');
        addClasseElementoPai(formIcms, 'col-2');
        addClasseElementoPai(formIpi, 'col-2');
        addClasseElementoPai(formPis, 'col-2');
        addClasseElementoPai(formCofins, 'col-2');
        
    });

    let produtoId = produtoNome = null;
    const divConfirm = document.querySelector('.confirm-question');
    const editarProduto = document.querySelectorAll('#editar-produto');
    const excluirProduto = document.querySelectorAll('#excluir-produto');

    editarProduto.forEach((element) => {
        element.addEventListener('click', (e) => {
            e.preventDefault();
            produtoId = element.getAttribute('data-produto-id');
            produtoNome = element.getAttribute('data-produto-nome');

            if (!document.body.classList.contains('backdrop')) {
                document.body.classList.add('backdrop');
                divConfirm.style.display = "flex";
            } else {
                document.body.classList.remove('backdrop');
                divConfirm.style.display = "none";
            }
            divConfirm.querySelector('#modal-title').textContent = `Deseja editar o produto ${produtoNome}?`;
            confirmAction('editar');
        });
    });

    excluirProduto.forEach((element) => {
        element.addEventListener('click', (event) => {
            event.preventDefault();
            produtoId = element.getAttribute('data-produto-id');
            produtoNome = element.getAttribute('data-produto-nome');

            if (!document.body.classList.contains('backdrop')) {
                document.body.classList.add('backdrop');
                divConfirm.style.display = "flex";
            } else {
                document.body.classList.remove('backdrop');
                divConfirm.style.display = "none";
            }
            divConfirm.querySelector('#modal-title').textContent = `Deseja excluir o produto ${produtoNome}?`;
            confirmAction('excluir');
        });
    });

    function confirmAction (action) {
        document.getElementById('confirm').addEventListener('click', (event) => {
            if (document.body.classList.contains('backdrop')) {
                document.body.classList.remove('backdrop');
            }
            if (divConfirm.style.display === "flex") {
                divConfirm.style.display = "none";
            }
            if (action === 'editar') {
                window.location.href = `/produtos/edit_produto/${produtoId}/`;
            } else if (action === 'excluir') {
                window.location.href = `/produtos/delete_produto/${produtoId}/`;
            }
        });
    };

    function cancelAction () {
        if (document.body.classList.contains('backdrop')) {
            document.body.classList.remove('backdrop');
        }
        if (divConfirm.style.display === "flex") {
            divConfirm.style.display = "none";
        }
        produtoId = null;
        produtoNome = null;
    };
    
    
</script>
{% endblock content %}