{% extends "base/base.html" %}
{% block content %}
    <div class="main-content">
        <h1>Controle de Vendas</h1>
        <div class="div-btn-vendas">
            <a class="btn" href="{% url "vendas:pdv" %}">Ponto de Venda</a>
            <a class="btn" href="{% url "home:home" %}">Voltar</a>
        </div>
        <div class="table">
            <table id="dataTable" class="display compact cell-border stripped">
                <thead>
                    <tr>
                        <th>Venda</th>
                        <th>Cliente</th>
                        <th>Data</th>
                        <th>Desconto Total</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venda in vendas %}
                    <tr>
                        <td>{{venda.id}}</td>
                        <td>{{venda.cliente}}</td>
                        <td>{{venda.data}}</td>
                        <td>{{venda.total}}</td>
                        <td>{{venda.desconto_total}}</td>
                        <td>
                            {% if venda.finalizada %}Finalizada{% else %}Venda aberta{% endif %}
                        </td>
                        <td>
                            {% if venda.finalizada %}<a class="btn" href="{% url "vendas:imprimir_comprovante" venda.id %}">Imprimir Comprovante</a>{% endif %}
                            {% if not venda.retornoSAT %}<a role="button" id="btn-alterar-venda" class="btn" data-venda-id="{{venda.id}}">{% if venda.finalizada %}Alterar{% else %}Continuar Venda{% endif %}</a>{% endif %}
                            {% if venda.finalizada and not venda.retornoSAT %}<a role="button" id="btn-excluir-venda" class="btn" data-venda-id="{{venda.id}}">Excluir</a>{% endif %}
                            {% if venda.finalizada and not venda.retornoSAT %}<a role="button" id="btn-gerar-sat" class="btn" data-venda-id="{{venda.id}}">Gerar SAT/CFe</a>{% endif %}
                            {% if venda.eeeee == '06000' %}<a class="btn" href="{% url "sat_nfe:imprimir_sat" venda.id %}">Imprimir SAT</a>{% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        const btnAlterarVenda = document.querySelectorAll('#btn-alterar-venda');
        const btnExcluirVenda = document.querySelectorAll('#btn-excluir-venda');
        const btnGerarSat = document.querySelectorAll('#btn-gerar-sat');
        const divQuestion = document.querySelector('.confirm-question');
        let vendaId = null;

        btnAlterarVenda.forEach((element) => {
            element.addEventListener('click', (e) => {
                e.preventDefault();
                vendaId = element.getAttribute('data-venda-id');
                if (!document.body.classList.contains('backdrop')) {
                    document.body.classList.add('backdrop');
                    divQuestion.style.display = 'flex';
                } else {
                    document.body.classList.remove('backdrop');
                    divQuestion.style.display = 'none';
                }
                divQuestion.querySelector('#modal-title').textContent = `Deseja prosseguir com a venda nº ${vendaId}?`;
                confirmAction('alterar');
            });
        });

        btnExcluirVenda.forEach((element) => {
            element.addEventListener('click', (e) => {
                e.preventDefault();
                vendaId = element.getAttribute('data-venda-id');
                if (!document.body.classList.contains('backdrop')) {
                    document.body.classList.add('backdrop');
                    divQuestion.style.display = 'flex';
                } else {
                    document.body.classList.remove('backdrop');
                    divQuestion.style.display = 'none';
                }
                divQuestion.querySelector('#modal-title').textContent = `Deseja excluir a venda nº ${vendaId}?`;
                confirmAction('excluir');
            });
        });

        btnGerarSat.forEach((element) => {
            element.addEventListener('click', (e) => {
                e.preventDefault();
                vendaId = element.getAttribute('data-venda-id');
                if (!document.body.classList.contains('backdrop')) {
                    document.body.classList.add('backdrop');
                    divQuestion.style.display = 'flex';
                } else {
                    document.body.classList.remove('backdrop');
                    divQuestion.style.display = 'none';
                }
                divQuestion.querySelector('#modal-title').textContent = `Deseja gerar o CFe-SAT da venda nº ${vendaId}?`;
                confirmAction('gerar-sat');
            });
        });

        function confirmAction (action) {
            document.getElementById('confirm').addEventListener('click', (e) => {
                e.preventDefault();
                if (action === 'alterar') {
                    window.location.href = `/vendas/alterar_venda/${vendaId}/`
                } else if (action === 'excluir') {
                    window.location.href = `/vendas/excluir_venda/${vendaId}/`
                } else if (action === 'gerar-sat') {
                    window.location.href = `/sat_nfe/gerar_sat/${vendaId}/`
                }
            });
        };

        function cancelAction () {
            if (document.body.classList.contains('backdrop')) {
                document.body.classList.remove('backdrop');
            }
            if (divQuestion.style.display === "flex") {
                divQuestion.style.display = "none";
            }
            vendaId = null;
        };

        // function cancelAction () {
        //     document.getElementById('cancel').addEventListener('click', () => {
        //         if (document.body.classList.contains('backdrop')) {
        //             document.body.classList.remove('backdrop');
        //         }
        //         if (divQuestion.style.display === "flex") {
        //             divQuestion.style.display = "none";
        //         }
        //         vendaId = null;
        //     });
        // };
    </script>
{% endblock content %}