{% extends "base/base.html" %}
{% block content %}
    <div class="main-content">
        <h1>Controle de Vendas</h1>
        <div class="div-btn-vendas">
            <a class="btn" href="{% url "vendas:pdv" %}">Ponto de Venda</a>
            <a class="btn" href="{% url "home:home" %}">Voltar</a>
        </div>
        <div class="table">
            <table id="dataTable" class="display compact cell-border stripped">
                <thead>
                    <tr>
                        <th>Venda</th>
                        <th>Cliente</th>
                        <th>Data</th>
                        <th>Desconto Total</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venda in vendas %}
                    <tr>
                        <td>{{venda.id}}</td>
                        <td>{{venda.cliente}}</td>
                        <td>{{venda.data}}</td>
                        <td>{{venda.total}}</td>
                        <td>{{venda.desconto_total}}</td>
                        <td>
                            {% if venda.finalizada %}Finalizada{% else %}Venda aberta{% endif %}
                        </td>
                        <td>
                            {% if venda.finalizada %}<a class="btn" href="{% url "vendas:imprimir_comprovante" venda.id %}">Imprimir Comprovante</a>{% endif %}
                            {% if not venda.retornoSAT %}<a class="btn" href="{% url "vendas:alterar_venda" venda.id %}">{% if venda.finalizada %}Alterar{% else %}Continuar Venda{% endif %}</a>{% endif %}
                            {% if venda.finalizada and not venda.retornoSAT %}<a class="btn" href="{% url "vendas:excluir_venda" venda.id %}">Excluir</a>{% endif %}
                            {% if not venda.retornoSAT %}<a class="btn" href="{% url "sat_nfe:gerar_sat" venda.id %}">Gerar SAT/CFe</a>{% endif %}
                            {% if venda.eeeee == '06000' %}<a class="btn" href="{% url "sat_nfe:imprimir_sat" venda.id %}">Imprimir SAT</a>{% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}